##**üßπ Importamos librer√≠as y DataFrame**

In [410]:
# Importamos las librer√≠as que vamos a utilizar
import pandas as pd
import seaborn as sns
import numpy as np
import plotly.express as px
import plotly.graph_objects as go

In [411]:
# Guardamos el DataFrame en cris
cris = pd.read_csv("https://raw.githubusercontent.com/cristiandarioortegayubro/base/main/dataset/ronaldoSucio.csv")

##**üßπ Conozco DataFrame y Limpieza Inicial**

In [412]:
# Vemos las dimensiones de nuestro DF y vemos que tiene 810 filas y 13 columnas
cris.shape

(810, 13)

In [413]:
# Empezamos a ver que tiene el DataFrame en las primeras 11 filas / Podemos ver que cada fila es un gol que meti√≥
cris.head(11)

,Tournament,Matchday,Date,Venue,Club,Opponent,Result,Position,Minute,When Scored,Goal Type,Assist;,Madre
0,Liga Portugal,6,10/7/02,Home,Sporting CP,Moreirense FC,3:0,LW,34',2:0,Solo run,Not Applicable;,Maria Dolores dos Santos Viveiros da Aveiro
1,Liga Portugal,6,10/7/02,Home,Sporting CP,Moreirense FC,3:0,LW,90'+5,3:0,Header,Rui Jorge;,Maria Dolores dos Santos Viveiros da Aveiro
2,Liga Portugal,8,10/26/02,Away,Sporting CP,Boavista FC,1:2,Not Applicable,88',1:2,Right-footed shot,Carlos Martins;,Maria Dolores dos Santos Viveiros da Aveiro
3,Ta√ßa de Portugal,Fourth Round,11/24/02,Home,Sporting CP,CD Estarreja,4:1,Not Applicable,67',3:0,Left-footed shot,C√©sar Prates;,Maria Dolores dos Santos Viveiros da Aveiro
4,Ta√ßa de Portugal,Fifth Round,12/18/02,Home,Sporting CP,FC Oliveira do Hospital,8:1,Not Applicable,13',3:0,Not Applicable,Not Applicable;,Maria Dolores dos Santos Viveiros da Aveiro
5,Premier League,11,11/1/03,Home,Manchester United,Portsmouth FC,3:0,RW,80',2:0,Direct free kick,Not Applicable;,Maria Dolores dos Santos Viveiros da Aveiro
6,FA Cup,Fifth Round,2/14/04,Home,Manchester United,Manchester City,4:2,RW,74',3:0,Right-footed shot,Not Applicable;,Maria Dolores dos Santos Viveiros da Aveiro
7,Premier League,29,3/20/04,Home,Manchester United,Tottenham Hotspur,3:0,Not Applicable,89',2:0,Right-footed shot,Roy Keane;,Maria Dolores dos Santos Viveiros da Aveiro
8,Premier League,32,4/10/04,Away,Manchester United,Birmingham City,1:2,Not Applicable,60',1:1,Header,Ryan Giggs;,Maria Dolores dos Santos Viveiros da Aveiro
9,Premier League,38,5/15/04,Away,Manchester United,Aston Villa,0:2,Not Applicable,4',0:1,Right-footed shot,Not Applicable;,Maria Dolores dos Santos Viveiros da Aveiro
10,FA Cup,Final,5/22/04,Home,Manchester United,Millwall FC,3:0,RW,44',1:0,Header,Gary Neville;,Maria Dolores dos Santos Viveiros da Aveiro

In [414]:
# Vemos que tiene el DataFrame en las utimas 5 filas / Ac√° vemos que deben haber muchos valores vac√≠os que luego limpiaremos
cris.tail(5)

,Tournament,Matchday,Date,Venue,Club,Opponent,Result,Position,Minute,When Scored,Goal Type,Assist;,Madre
805,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,;
806,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,;
807,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,;
808,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,;
809,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,;

In [415]:
# Vamos a cambiar nombres de las columnas para hacerlo m√°s facil de manipular
cris.rename(columns={'Tournament':'Torneo'}, inplace=True)
cris.rename(columns={'Matchday':'Jornada'}, inplace=True)
cris.rename(columns={'Date':'Fecha'}, inplace=True)
cris.rename(columns={'Venue':'Evento'}, inplace=True)
cris.rename(columns={'Opponent':'Oponente'}, inplace=True)
cris.rename(columns={'Result':'Resultado'}, inplace=True)
cris.rename(columns={'Position':'Posici√≥n'}, inplace=True)
cris.rename(columns={'Minute':'Minuto'}, inplace=True)
cris.rename(columns={'When Scored':'Momento_anotacion'}, inplace=True)
cris.rename(columns={'Goal Type':'Tipo_de_gol'}, inplace=True)
cris.rename(columns={'Assist;':'Asistente'}, inplace=True)

In [416]:
# Revisamos situacion
cris.head(5)

,Torneo,Jornada,Fecha,Evento,Club,Oponente,Resultado,Posici√≥n,Minuto,Momento_anotacion,Tipo_de_gol,Asistente,Madre
0,Liga Portugal,6,10/7/02,Home,Sporting CP,Moreirense FC,3:0,LW,34',2:0,Solo run,Not Applicable;,Maria Dolores dos Santos Viveiros da Aveiro
1,Liga Portugal,6,10/7/02,Home,Sporting CP,Moreirense FC,3:0,LW,90'+5,3:0,Header,Rui Jorge;,Maria Dolores dos Santos Viveiros da Aveiro
2,Liga Portugal,8,10/26/02,Away,Sporting CP,Boavista FC,1:2,Not Applicable,88',1:2,Right-footed shot,Carlos Martins;,Maria Dolores dos Santos Viveiros da Aveiro
3,Ta√ßa de Portugal,Fourth Round,11/24/02,Home,Sporting CP,CD Estarreja,4:1,Not Applicable,67',3:0,Left-footed shot,C√©sar Prates;,Maria Dolores dos Santos Viveiros da Aveiro
4,Ta√ßa de Portugal,Fifth Round,12/18/02,Home,Sporting CP,FC Oliveira do Hospital,8:1,Not Applicable,13',3:0,Not Applicable,Not Applicable;,Maria Dolores dos Santos Viveiros da Aveiro

In [417]:
# Vemos informaci√≥n general y no nulos. De las 810 filas vemos que hay muchas vac√≠as, por lo que vamos a borrarlas.
# Tambi√©n se puede ver que los Tipos vamos a tener que cambiarlos.
cris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 810 entries, 0 to 809
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Torneo             734 non-null    object
 1   Jornada            734 non-null    object
 2   Fecha              734 non-null    object
 3   Evento             734 non-null    object
 4   Club               734 non-null    object
 5   Oponente           734 non-null    object
 6   Resultado          734 non-null    object
 7   Posici√≥n           734 non-null    object
 8   Minuto             734 non-null    object
 9   Momento_anotacion  734 non-null    object
 10  Tipo_de_gol        734 non-null    object
 11  Asistente          734 non-null    object
 12  Madre              810 non-null    object
dtypes: object(13)
memory usage: 82.4+ KB

In [418]:
# Antes de borrar filas vac√≠as, eliminamos la columna "Madre" que no la vamos a necesitar para analizar y adem√°s nos deja todas las filas nulas para poder usar el dropna.
cris.drop(["Madre"], axis=1, inplace=True)

In [419]:
# Vemos que no est√° m√°s la columna "Madre"
cris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 810 entries, 0 to 809
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Torneo             734 non-null    object
 1   Jornada            734 non-null    object
 2   Fecha              734 non-null    object
 3   Evento             734 non-null    object
 4   Club               734 non-null    object
 5   Oponente           734 non-null    object
 6   Resultado          734 non-null    object
 7   Posici√≥n           734 non-null    object
 8   Minuto             734 non-null    object
 9   Momento_anotacion  734 non-null    object
 10  Tipo_de_gol        734 non-null    object
 11  Asistente          734 non-null    object
dtypes: object(12)
memory usage: 76.1+ KB

In [420]:
# Ahora vamos a eliminar todas las filas que tengan todas las filas nulas.
cris.dropna(axis=0, inplace= True, how='all')

In [421]:
# Vemos que paso de 810 filas a 734 y de 13 a 12 columnas
cris.shape

(734, 12)

In [422]:
# Vemos si quedaron valores vac√≠os y estar√≠a ok, no qued√≥ ninguno
cris.isna().sum()

Torneo               0
Jornada              0
Fecha                0
Evento               0
Club                 0
Oponente             0
Resultado            0
Posici√≥n             0
Minuto               0
Momento_anotacion    0
Tipo_de_gol          0
Asistente            0
dtype: int64

In [423]:
# Vemos si hay filas totalmente duplicadas que esten mal y las eliminamos. Vemos que paso de 734 a 699 filas.
cris= cris.drop_duplicates()
cris.shape

(699, 12)

In [424]:
# Revisamos los Tipos de Datos y vemos que Fecha tenemos que pasarla a formato datetime y el resto a string
cris.dtypes

Torneo               object
Jornada              object
Fecha                object
Evento               object
Club                 object
Oponente             object
Resultado            object
Posici√≥n             object
Minuto               object
Momento_anotacion    object
Tipo_de_gol          object
Asistente            object
dtype: object

In [425]:
# Realizamos todas las conversiones de tipos de datos
cris['Torneo'] = cris['Torneo'].astype('string')
cris['Jornada'] = cris['Jornada'].astype('string')
cris['Fecha'] = pd.to_datetime(cris['Fecha'])
cris['Evento'] = cris['Evento'].astype('string')
cris['Club'] = cris['Club'].astype('string')
cris['Oponente'] = cris['Oponente'].astype('string')
cris['Resultado'] = cris['Resultado'].astype('string')
cris['Posici√≥n'] = cris['Posici√≥n'].astype('string')
cris['Minuto'] = cris['Minuto'].astype('string')
cris['Momento_anotacion'] = cris['Momento_anotacion'].astype('string')
cris['Tipo_de_gol'] = cris['Tipo_de_gol'].astype('string')
cris['Asistente'] = cris['Asistente'].astype('string')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [426]:
# Revisamos los Tipos de Datos y vemos que quedo ok
cris.dtypes

Torneo                       string
Jornada                      string
Fecha                datetime64[ns]
Evento                       string
Club                         string
Oponente                     string
Resultado                    string
Posici√≥n                     string
Minuto                       string
Momento_anotacion            string
Tipo_de_gol                  string
Asistente                    string
dtype: object

##**üßπ Explotaci√≥n de datos**

In [427]:
# Vemos nuestro DataFrame actual y si podr√≠amos explotar algo de info √∫til para los an√°lisis:
# 1) Podemos ver que de la fecha podemos sacar a√±o, mes y d√≠a
# 2) del resultado podr√≠amos sacar goles a favor y en contra del partido completo
# 3) del momento de anotaci√≥n podr√≠amos sacar goles a favor y encontra al momento del gol 
# 4} la columna Minuto tendr√≠amos que limpiarle las comillas y las sumas --> de ac√° podemos sacar el minuto en el que meti√≥ el gol y si fue en el 1er o 2do tiempo.
cris

,Torneo,Jornada,Fecha,Evento,Club,Oponente,Resultado,Posici√≥n,Minuto,Momento_anotacion,Tipo_de_gol,Asistente
0,Liga Portugal,6,2002-10-07,Home,Sporting CP,Moreirense FC,3:0,LW,34',2:0,Solo run,Not Applicable;
1,Liga Portugal,6,2002-10-07,Home,Sporting CP,Moreirense FC,3:0,LW,90'+5,3:0,Header,Rui Jorge;
2,Liga Portugal,8,2002-10-26,Away,Sporting CP,Boavista FC,1:2,Not Applicable,88',1:2,Right-footed shot,Carlos Martins;
3,Ta√ßa de Portugal,Fourth Round,2002-11-24,Home,Sporting CP,CD Estarreja,4:1,Not Applicable,67',3:0,Left-footed shot,C√©sar Prates;
4,Ta√ßa de Portugal,Fifth Round,2002-12-18,Home,Sporting CP,FC Oliveira do Hospital,8:1,Not Applicable,13',3:0,Not Applicable,Not Applicable;
...,...,...,...,...,...,...,...,...,...,...,...,...
694,Premier League,33,2022-04-16,Home,Manchester United,Norwich City,3:2,CF,76',3:2,Direct free kick,Not Applicable;
695,Premier League,34,2022-04-23,Away,Manchester United,Arsenal FC,3:1,CF,34',2:1,Left-footed shot,Nemanja Matiƒá;
696,Premier League,37,2022-04-28,Home,Manchester United,Chelsea FC,1:1,CF,62',1:1,Right-footed shot,Nemanja Matiƒá;
697,Premier League,35,2022-05-02,Home,Manchester United,Brentford FC,3:0,CF,61',2:0,Penalty,Not Applicable;
698,Europa League,Group Stage,2022-09-15,Away,Manchester United,FC Sheriff Tiraspol,0:2,CF,39',0:2,Penalty,Not Applicable;

In [428]:
# Agregamos 3 columnas, las de A√±o, Mes y D√≠a del partido
cris['Anio'] = cris['Fecha'].dt.year
cris['Mes'] = cris['Fecha'].dt.month
cris['Dia'] = cris['Fecha'].dt.day

In [429]:
# Vamos a poner Gol_favor_T y Gol_contra_T --> Para saber como termino el partido con los goles a favor y en contra
# Antes de eso me gustar√≠a ver que valores tiene la columna Resultado y vemos que siempre est√° dividido por : por lo que podemos splitear ah√≠
cris.Resultado.unique()

<StringArray>
[ '3:0',  '1:2',  '4:1',  '8:1',  '4:2',  '0:2',  '3:1',  '2:4',  '0:4',
  '1:0',  '1:4',  '1:3',  '4:0',  '5:1',  '1:1',  '0:3',  '3:2',  '2:2',
  '7:1',  '0:1',  '2:0',  '2:1',  '6:0',  '1:5',  '6:5',  '4:3',  '5:0',
  '3:5',  '0:5',  '5:2',  '2:5',  '6:2',  '6:1',  '8:0',  '2:3',  '7:0',
  '2:6',  '0:6',  '3:4',  '1:6',  '7:3',  '2:8',  '9:1', '10:2',  '3:3',
  '6:3']
Length: 46, dtype: string

In [430]:
# Tambi√©n tendr√≠amos que ver que valores tiene la columna Evento y vemos que solo tiene local y visitante, por lo que podr√≠amos avanzar con el split
cris.Evento.unique()

<StringArray>
['Home', 'Away']
Length: 2, dtype: string

In [431]:
# Hacemos una funci√≥n que luego tiraremos a todo el DataFrame para los GOLES A FAVOR
def Apertura_Resultado(evento, resultado): #Funci√≥n de Apertura, hay que darle dos par√°metros, uno con el evento (Local o Visitante) y otra con el resultado.
  res_sep= resultado.split(sep=':') #Lo splitea seg√∫n : y deja en la posici√≥n 0 el local y 1 el visitante

  if evento == 'Home': # Si es local, nos interesa la posici√≥n 0
    return res_sep[0]
  elif evento =='Away': # Si es visitante, nos interesa la posici√≥n 1
    return res_sep[1]
  else:
    return None

In [432]:
# Aplicamos la funci√≥n a a columna resultado y queremos que nos complete la columna Gol_favor_T con los goles a favor
cris["Gol_favor_t"] = list(map(lambda x,y: Apertura_Resultado(x,y), cris["Evento"], cris["Resultado"]))

In [433]:
# Ahora hacemos lo mismo pero con la columna "Momento_anotaci√≥n"
cris["Gol_favor_m"] = list(map(lambda x,y: Apertura_Resultado(x,y), cris["Evento"], cris["Momento_anotacion"]))

In [434]:
# Hacemos una funci√≥n que luego tiraremos a todo el DataFrame para los GOLES EN CONTRA
def Apertura_Resultado_Encontra(evento, resultado): #Funci√≥n de Apertura, hay que darle dos par√°metros, uno con el evento (Local o Visitante) y otra con el resultado.
  res_sep= resultado.split(sep=':') #Lo splitea seg√∫n : y deja en la posici√≥n 0 el local y 1 el visitante

  if evento == 'Home': # Si es local, nos interesa la posici√≥n 1
    return res_sep[1]
  elif evento =='Away': # Si es visitante, nos interesa la posici√≥n 0
    return res_sep[0]
  else:
    return None

In [435]:
# Aplicamos la funci√≥n a a columna resultado y queremos que nos complete la columna Gol_contra_t con los goles en contra
cris["Gol_encontra_t"] = list(map(lambda x,y: Apertura_Resultado_Encontra(x,y), cris["Evento"], cris["Resultado"]))

In [436]:
# Ahora hacemos lo mismo pero con la columna "Momento_anotaci√≥n"
cris["Gol_encontra_m"] = list(map(lambda x,y: Apertura_Resultado_Encontra(x,y), cris["Evento"], cris["Momento_anotacion"]))

In [437]:
# Vemos como nos queda le DataSet
cris

,Torneo,Jornada,Fecha,Evento,Club,Oponente,Resultado,Posici√≥n,Minuto,Momento_anotacion,Tipo_de_gol,Asistente,Anio,Mes,Dia,Gol_favor_t,Gol_favor_m,Gol_encontra_t,Gol_encontra_m
0,Liga Portugal,6,2002-10-07,Home,Sporting CP,Moreirense FC,3:0,LW,34',2:0,Solo run,Not Applicable;,2002,10,7,3,2,0,0
1,Liga Portugal,6,2002-10-07,Home,Sporting CP,Moreirense FC,3:0,LW,90'+5,3:0,Header,Rui Jorge;,2002,10,7,3,3,0,0
2,Liga Portugal,8,2002-10-26,Away,Sporting CP,Boavista FC,1:2,Not Applicable,88',1:2,Right-footed shot,Carlos Martins;,2002,10,26,2,2,1,1
3,Ta√ßa de Portugal,Fourth Round,2002-11-24,Home,Sporting CP,CD Estarreja,4:1,Not Applicable,67',3:0,Left-footed shot,C√©sar Prates;,2002,11,24,4,3,1,0
4,Ta√ßa de Portugal,Fifth Round,2002-12-18,Home,Sporting CP,FC Oliveira do Hospital,8:1,Not Applicable,13',3:0,Not Applicable,Not Applicable;,2002,12,18,8,3,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
694,Premier League,33,2022-04-16,Home,Manchester United,Norwich City,3:2,CF,76',3:2,Direct free kick,Not Applicable;,2022,4,16,3,3,2,2
695,Premier League,34,2022-04-23,Away,Manchester United,Arsenal FC,3:1,CF,34',2:1,Left-footed shot,Nemanja Matiƒá;,2022,4,23,1,1,3,2
696,Premier League,37,2022-04-28,Home,Manchester United,Chelsea FC,1:1,CF,62',1:1,Right-footed shot,Nemanja Matiƒá;,2022,4,28,1,1,1,1
697,Premier League,35,2022-05-02,Home,Manchester United,Brentford FC,3:0,CF,61',2:0,Penalty,Not Applicable;,2022,5,2,3,2,0,0
698,Europa League,Group Stage,2022-09-15,Away,Manchester United,FC Sheriff Tiraspol,0:2,CF,39',0:2,Penalty,Not Applicable;,2022,9,15,2,2,0,0

In [438]:
# Vamos a limpiar la columna Minuto y para eso vemos que tenemos que splitear por ' y + --> Una manera es eliminar las ' y luego splitear por +
cris.Minuto.unique()

<StringArray>
[  "34'", "90'+5",   "88'",   "67'",   "13'",   "80'",   "74'",   "89'",
   "60'",    "4'",
 ...
  "120'",    "7'",   "33'",   "97'",  "104'",  "105'",  "109'", "90'+7",
 "45'+7", "45'+2"]
Length: 106, dtype: string

In [439]:
#Eliminamos los ' y los ponemos en una nueva columna auxiliar
cris["MinutosPartidoCrudo"] = list(map(lambda x: x.replace("'",""), cris["Minuto"]))

In [440]:
# Funci√≥n para sumar los minutos de partido a los minutos extras
def TotalMinutos(MinCrudo):
  res_sep= MinCrudo.split(sep='+')
  if len(res_sep) == 2:
    a = int(res_sep[0])
    b = int(res_sep[1])
  else:
    a = int(res_sep[0])
    b = 0
  return a+b

In [441]:
# Corremos la funci√≥n a todos los registros
cris["MinutosPartido"] = list(map(lambda x: TotalMinutos(x), cris["MinutosPartidoCrudo"]))

In [442]:
# Funci√≥n para agregar el tiempo en el que se meti√≥ el gol (Primero o Segundo Tiempo, para no perder esa info)
def Tiempo(MinCrudo):
  res_sep= MinCrudo.split(sep='+')
  if len(res_sep) == 2:
    if int(res_sep[0]) == 45:
      return "Primer Tiempo Extra"
    else:
      return "Segundo Tiempo Extra"    
  else:
    if int(res_sep[0]) <= 45:
      return "Primer Tiempo"
    else:
      return "Segundo Tiempo"

In [443]:
# Corremos la funci√≥n a todos los registros
cris["Tiempo del gol"] = list(map(lambda x: Tiempo(x), cris["MinutosPartidoCrudo"]))

In [444]:
# Revisamos DataSet
cris

,Torneo,Jornada,Fecha,Evento,Club,Oponente,Resultado,Posici√≥n,Minuto,Momento_anotacion,...,Anio,Mes,Dia,Gol_favor_t,Gol_favor_m,Gol_encontra_t,Gol_encontra_m,MinutosPartidoCrudo,MinutosPartido,Tiempo del gol
0,Liga Portugal,6,2002-10-07,Home,Sporting CP,Moreirense FC,3:0,LW,34',2:0,...,2002,10,7,3,2,0,0,34,34,Primer Tiempo
1,Liga Portugal,6,2002-10-07,Home,Sporting CP,Moreirense FC,3:0,LW,90'+5,3:0,...,2002,10,7,3,3,0,0,90+5,95,Segundo Tiempo Extra
2,Liga Portugal,8,2002-10-26,Away,Sporting CP,Boavista FC,1:2,Not Applicable,88',1:2,...,2002,10,26,2,2,1,1,88,88,Segundo Tiempo
3,Ta√ßa de Portugal,Fourth Round,2002-11-24,Home,Sporting CP,CD Estarreja,4:1,Not Applicable,67',3:0,...,2002,11,24,4,3,1,0,67,67,Segundo Tiempo
4,Ta√ßa de Portugal,Fifth Round,2002-12-18,Home,Sporting CP,FC Oliveira do Hospital,8:1,Not Applicable,13',3:0,...,2002,12,18,8,3,1,0,13,13,Primer Tiempo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
694,Premier League,33,2022-04-16,Home,Manchester United,Norwich City,3:2,CF,76',3:2,...,2022,4,16,3,3,2,2,76,76,Segundo Tiempo
695,Premier League,34,2022-04-23,Away,Manchester United,Arsenal FC,3:1,CF,34',2:1,...,2022,4,23,1,1,3,2,34,34,Primer Tiempo
696,Premier League,37,2022-04-28,Home,Manchester United,Chelsea FC,1:1,CF,62',1:1,...,2022,4,28,1,1,1,1,62,62,Segundo Tiempo
697,Premier League,35,2022-05-02,Home,Manchester United,Brentford FC,3:0,CF,61',2:0,...,2022,5,2,3,2,0,0,61,61,Segundo Tiempo
698,Europa League,Group Stage,2022-09-15,Away,Manchester United,FC Sheriff Tiraspol,0:2,CF,39',0:2,...,2022,9,15,2,2,0,0,39,39,Primer Tiempo

In [445]:
# Borramos columna auxiliar y cambiamos algunos tipos
cris.drop(["MinutosPartidoCrudo"], axis=1, inplace=True)

cris['Gol_favor_t'] = cris['Gol_favor_t'].astype('int')
cris['Gol_favor_m'] = cris['Gol_favor_m'].astype('int')
cris['Gol_encontra_t'] = cris['Gol_encontra_t'].astype('int')
cris['Gol_encontra_m'] = cris['Gol_encontra_m'].astype('int')
cris['Tiempo del gol'] = cris['Tiempo del gol'].astype('string')

cris.dtypes

Torneo                       string
Jornada                      string
Fecha                datetime64[ns]
Evento                       string
Club                         string
Oponente                     string
Resultado                    string
Posici√≥n                     string
Minuto                       string
Momento_anotacion            string
Tipo_de_gol                  string
Asistente                    string
Anio                          int64
Mes                           int64
Dia                           int64
Gol_favor_t                   int64
Gol_favor_m                   int64
Gol_encontra_t                int64
Gol_encontra_m                int64
MinutosPartido                int64
Tiempo del gol               string
dtype: object

##**üßπ Analizando los datos y Limpieza Final**

In [446]:
# Voy a ir analizando todas las columnas
cris

,Torneo,Jornada,Fecha,Evento,Club,Oponente,Resultado,Posici√≥n,Minuto,Momento_anotacion,...,Asistente,Anio,Mes,Dia,Gol_favor_t,Gol_favor_m,Gol_encontra_t,Gol_encontra_m,MinutosPartido,Tiempo del gol
0,Liga Portugal,6,2002-10-07,Home,Sporting CP,Moreirense FC,3:0,LW,34',2:0,...,Not Applicable;,2002,10,7,3,2,0,0,34,Primer Tiempo
1,Liga Portugal,6,2002-10-07,Home,Sporting CP,Moreirense FC,3:0,LW,90'+5,3:0,...,Rui Jorge;,2002,10,7,3,3,0,0,95,Segundo Tiempo Extra
2,Liga Portugal,8,2002-10-26,Away,Sporting CP,Boavista FC,1:2,Not Applicable,88',1:2,...,Carlos Martins;,2002,10,26,2,2,1,1,88,Segundo Tiempo
3,Ta√ßa de Portugal,Fourth Round,2002-11-24,Home,Sporting CP,CD Estarreja,4:1,Not Applicable,67',3:0,...,C√©sar Prates;,2002,11,24,4,3,1,0,67,Segundo Tiempo
4,Ta√ßa de Portugal,Fifth Round,2002-12-18,Home,Sporting CP,FC Oliveira do Hospital,8:1,Not Applicable,13',3:0,...,Not Applicable;,2002,12,18,8,3,1,0,13,Primer Tiempo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
694,Premier League,33,2022-04-16,Home,Manchester United,Norwich City,3:2,CF,76',3:2,...,Not Applicable;,2022,4,16,3,3,2,2,76,Segundo Tiempo
695,Premier League,34,2022-04-23,Away,Manchester United,Arsenal FC,3:1,CF,34',2:1,...,Nemanja Matiƒá;,2022,4,23,1,1,3,2,34,Primer Tiempo
696,Premier League,37,2022-04-28,Home,Manchester United,Chelsea FC,1:1,CF,62',1:1,...,Nemanja Matiƒá;,2022,4,28,1,1,1,1,62,Segundo Tiempo
697,Premier League,35,2022-05-02,Home,Manchester United,Brentford FC,3:0,CF,61',2:0,...,Not Applicable;,2022,5,2,3,2,0,0,61,Segundo Tiempo
698,Europa League,Group Stage,2022-09-15,Away,Manchester United,FC Sheriff Tiraspol,0:2,CF,39',0:2,...,Not Applicable;,2022,9,15,2,2,0,0,39,Primer Tiempo

In [447]:
# Analizamos la columna Torneo:
Torneos = cris.groupby("Torneo").count()
Torneos.Club

Torneo
Champions League         140
Champions League Qu.       1
Club World Cup             7
Copa del Rey              22
EFL Cup                    4
Europa League              1
FA Cup                    13
Italy Cup                  4
LaLiga                   311
Liga Portugal              3
Premier League           102
Serie A                   81
Supercopa                  4
Supercoppa Italiana        2
Ta√ßa de Portugal           2
UEFA Super Cup             2
Name: Club, dtype: int64

In [448]:
# Hay 2 Champions League, vamos a unificarlas; tenemos cuidado con los espacios.
cris.Torneo = cris.Torneo.replace({"Champions League Qu. ": "Champions League "})
Torneos = cris.groupby("Torneo").count()
Torneos.Club

Torneo
Champions League        141
Club World Cup            7
Copa del Rey             22
EFL Cup                   4
Europa League             1
FA Cup                   13
Italy Cup                 4
LaLiga                  311
Liga Portugal             3
Premier League          102
Serie A                  81
Supercopa                 4
Supercoppa Italiana       2
Ta√ßa de Portugal          2
UEFA Super Cup            2
Name: Club, dtype: int64

In [449]:
# Nos dimos cuenta que los nombres de los torneos tienen espacios al final, por lo que los sacamos:
cris.Torneo = cris.Torneo.str.strip()
cris.Torneo[cris.Torneo == "Champions League"] # Controlamos que este ok

20     Champions League
50     Champions League
51     Champions League
53     Champions League
55     Champions League
             ...
678    Champions League
679    Champions League
681    Champions League
682    Champions League
683    Champions League
Name: Torneo, Length: 141, dtype: object

In [450]:
# Vemos conocimiento de dominio y estar√≠an ok todos los nombres:

# Champions League: Ok Torneo
# Club World Cup: Copa del mundo
# Copa del Rey: es una competici√≥n nacional de f√∫tbol por eliminatorias, organizada anualmente por la Real Federaci√≥n Espa√±ola de F√∫tbol y disputada por 116 clubes de Espa√±a.‚Äã
# EFL Cup: La Copa de la Liga de Inglaterra, conocida como EFL Cup y actualmente como Carabao Cup
# Europa League: La Liga Europa de la UEFA es una competici√≥n continental de clubes organizada por la Uni√≥n de Asociaciones Europeas de F√∫tbol.
# FA Cup: La Football Association Cup es una competici√≥n oficial anual de f√∫tbol ingl√©s de eliminaci√≥n directa.
# Italy Cup: La Copa Italia, es una competici√≥n de f√∫tbol de Italia en la que participan los equipos de la Serie A y de la Serie B. 
# LaLiga: La Primera Divisi√≥n de Espa√±a
# Liga Portugal: La Primeira Liga, tambi√©n conocida como Primera Divisi√≥n de Portugal
# Premier League: La Premier League, tambi√©n conocida en Inglaterra como The Premiership, es la m√°xima categor√≠a del sistema de ligas de f√∫tbol de Inglaterra.
# Serie A: La Serie A de Italia ‚Äîconocida por motivos de patrocinio como Serie A TIM‚Äî es la m√°xima categor√≠a del sistema de ligas italiano
# Supercopa: se refiere a la supercopa de Espa√±a, le cambiamos el nombre:

cris.Torneo = cris.Torneo.replace({"Supercopa": "Supercopa Espania"})

# Supercoppa Italiana: es una competici√≥n de f√∫tbol de Italia que enfrenta al ganador del campeonato de liga Serie A y al campe√≥n de la Copa Italia.
# Ta√ßa de Portugal: La Ta√ßa de Portugal es una competici√≥n anual de f√∫tbol de asociaci√≥n y el principal torneo eliminatorio en el f√∫tbol portugu√©s.
# UEFA Super Cup: competici√≥n continental de clubes que enfrenta a los campeones de las dos m√°ximas competiciones continentales Europa: la Liga de Campeones y la Liga Europa.‚Äã

# Vemos como queda:
Torneos = cris.groupby("Torneo").count()
Torneos.Club

Torneo
Champions League       141
Club World Cup           7
Copa del Rey            22
EFL Cup                  4
Europa League            1
FA Cup                  13
Italy Cup                4
LaLiga                 311
Liga Portugal            3
Premier League         102
Serie A                 81
Supercopa Espania        4
Supercoppa Italiana      2
Ta√ßa de Portugal         2
UEFA Super Cup           2
Name: Club, dtype: int64

In [451]:
# Analizamos la columna Jornada:
Torneos = cris.groupby("Jornada").count()
Torneos.Club

Jornada
1                  6
10                12
11                12
12                15
13                16
14                14
15                13
16                10
17                13
18                16
19                10
2                  7
20                17
21                14
22                15
23                18
24                13
25                15
26                10
27                15
28                14
29                20
3                 14
30                11
31                13
32                 8
33                10
34                12
35                15
36                13
37                16
38                13
3rd round          1
4                 11
4th round          2
5                  9
6                 18
6th round          1
7                  8
8                 18
9                 13
Fifth Round        4
Final             16
Fourth Round       3
Group Stage       74
Quarter-Finals    31
Round of 16        1
Semi-Finals       26
Sixth Round        2
Third Round        3
final              4
last 16           34
Name: Club, dtype: int64

In [452]:
# Reemplazamos algunos valores que quiz√°s luego nos ayudar√°n a hacer an√°lisis y quitamos vac√≠os inicio y final
cris.Jornada = cris.Jornada.str.strip()
cris.Jornada = cris.Jornada.replace(["Fifth Round","Fourth Round","Round of 16","last 16","final","Sixth Round","Third Round"], 
                                    ["5th round","4th round","16-Finals","16-Finals","Final","6th round","3rd round"])

# Vemos como queda
Torneos = cris.groupby("Jornada").count()
Torneos.Club

Jornada
1                  6
10                12
11                12
12                15
13                16
14                14
15                13
16                10
16-Finals         35
17                13
18                16
19                10
2                  7
20                17
21                14
22                15
23                18
24                13
25                15
26                10
27                15
28                14
29                20
3                 14
30                11
31                13
32                 8
33                10
34                12
35                15
36                13
37                16
38                13
3rd round          4
4                 11
4th round          5
5                  9
5th round          4
6                 18
6th round          3
7                  8
8                 18
9                 13
Final             20
Group Stage       74
Quarter-Finals    31
Semi-Finals       26
Name: Club, dtype: int64

In [453]:
# Analizamos la columna Fecha pero por las columnas anio, mes y dia que surgen de esta.

# Anio esta ok
Torneos = cris.groupby("Anio").count()
Torneos.Club

Anio
2002     5
2003     1
2004     6
2005    13
2006    19
2007    29
2008    34
2009    29
2010    45
2011    53
2012    58
2013    59
2014    56
2015    54
2016    42
2017    42
2018    43
2019    25
2020    41
2021    34
2022    11
Name: Club, dtype: int64

In [454]:
# Mes esta ok
Torneos = cris.groupby("Mes").count()
Torneos.Club

Mes
1     78
2     70
3     78
4     79
5     68
6      5
7      7
8     16
9     76
10    70
11    65
12    87
Name: Club, dtype: int64

In [455]:
# D√≠a esta ok
Torneos = cris.groupby("Dia").count()
Torneos.Club

Dia
1     19
2     36
3     28
4     17
5     29
6     26
7     18
8     20
9     22
10    27
11    22
12    33
13    20
14    22
15    27
16    15
17    19
18    29
19    22
20    25
21    18
22    24
23    33
24    19
25    16
26    25
27    22
28     9
29    22
30    24
31    11
Name: Club, dtype: int64

In [456]:
# Vemos que valores tenemos dentro de Club y hasa el momento jug√≥ en 4 equipos de los 4 pa√≠ses que ve√≠amos antes torneos.
cris.Club = cris.Club.str.strip()
Torneos = cris.groupby("Club").count()
Torneos.Jornada

Club
Juventus FC          101
Manchester United    143
Real Madrid          450
Sporting CP            5
Name: Jornada, dtype: int64

In [457]:
# Oponente
cris.Oponente = cris.Oponente.str.strip()
Torneos = cris.groupby("Oponente").count()
Torneos.Jornada

Oponente
AC Milan                 6
ACF Fiorentina           3
AJ Auxerre               1
APOEL Nicosia            6
AS Roma                 10
                        ..
Watford FC               2
West Bromwich Albion     4
West Ham United          6
Wigan Athletic           7
Xerez CD                 4
Name: Jornada, Length: 125, dtype: int64

In [458]:
# Resultado
Torneos = cris.groupby("Resultado").count()
Torneos.Jornada

Resultado
0:1     13
0:2     36
0:3     23
0:4     16
0:5     10
0:6     10
10:2     2
1:0      6
1:1     21
1:2     37
1:3     27
1:4     32
1:5      6
1:6      6
2:0     35
2:1     42
2:2     25
2:3     13
2:4      6
2:5      2
2:6      7
2:8      3
3:0     49
3:1     32
3:2     28
3:3      4
3:4      7
3:5      2
4:0     36
4:1     32
4:2     21
4:3      7
5:0     12
5:1     24
5:2      9
6:0      7
6:1      6
6:2      5
6:3      4
6:5      1
7:0      3
7:1     11
7:3      6
8:0      7
8:1      3
9:1      5
Name: Jornada, dtype: int64

In [459]:
# Momento de Anotacion
Torneos = cris.groupby("Momento_anotacion").count()
Torneos.Jornada

Momento_anotacion
0:1     94
0:2     48
0:3     28
0:4     11
0:5      3
0:6      4
1:0    111
1:1     52
1:2     29
1:3     17
1:4     10
1:5      3
1:6      4
2:0     74
2:1     35
2:2     20
2:3      4
2:4      2
3:0     42
3:1     20
3:2     16
3:3      1
4:0     18
4:1     14
4:2      5
5:0      8
5:1     11
5:2      1
6:0      4
6:1      2
6:2      2
6:3      2
7:0      2
7:1      1
9:1      1
Name: Jornada, dtype: int64

In [460]:
# Ya utilizamos la de minutos, por lo que la analizaremos desde la columna MinutosPartido y vamos a borrar la columna cruda que ya no tiene sentido en el DF
# Vemos que los valores son l√≥gicos
cris.drop(["Minuto"], axis=1, inplace=True)
Torneos = cris.groupby("MinutosPartido").count()
Torneos.Jornada

MinutosPartido
1      1
2      6
3      8
4      4
5      3
      ..
103    1
104    1
105    1
109    1
120    1
Name: Jornada, Length: 102, dtype: int64

In [461]:
# Tipo de Gol
Torneos = cris.groupby("Tipo_de_gol").count()
Torneos.Jornada

Tipo_de_gol
Counter attack goal         4
Deflected shot on goal      2
Direct free kick           48
Header                    112
Left-footed shot          110
Long distance kick          9
Not Applicable             15
Penalty                   129
Penalty rebound             3
Right-footed shot         251
Solo run                    2
Tap-in                     14
Name: Jornada, dtype: int64

In [462]:
# Asistente, vemos que tiene unos ; que vamos a eliminar. 
cris["Asistente"] = list(map(lambda x: x.replace(";",""), cris["Asistente"]))
Torneos = cris.groupby("Asistente").count()
Torneos.Jornada

Asistente
Aaron Ramsey       4
Adrien Rabiot      1
Alex Sandro        2
Alex Telles        2
Anderson           1
                  ..
Wes Brown          2
Xabi Alonso        8
√Ålvaro Arbeloa     4
√Ålvaro Morata      6
√Ångel Di Mar√≠a    22
Name: Jornada, Length: 86, dtype: int64

In [463]:
# Por otro lado veremos el peso que tiene los no aplica en el total y quien fue el que m√°s lo asisti√≥ en su historia.

AsistentesCris = cris.groupby(['Asistente']).count().Jornada.sort_values(ascending=False)
GolesSinAsistencia = round(AsistentesCris[0] / cris.shape[0] * 100, 2)

print(f"El Bicho meti√≥ {GolesSinAsistencia} % de los goles sin asistencia y el compa√±ero que m√°s lo asisti√≥ fue {AsistentesCris.index[1]} con {AsistentesCris[1]} goles.")

El Bicho meti√≥ 34.62 % de los goles sin asistencia y el compa√±ero que m√°s lo asisti√≥ fue Karim Benzema con 44 goles.

##**üßπ Respuestas a las preguntas iniciales**

In [464]:
# Antes de empezar con m√°s an√°lisis, vamos a ver como queda nuestro dataset con todas las modificaciones
cris

,Torneo,Jornada,Fecha,Evento,Club,Oponente,Resultado,Posici√≥n,Momento_anotacion,Tipo_de_gol,Asistente,Anio,Mes,Dia,Gol_favor_t,Gol_favor_m,Gol_encontra_t,Gol_encontra_m,MinutosPartido,Tiempo del gol
0,Liga Portugal,6,2002-10-07,Home,Sporting CP,Moreirense FC,3:0,LW,2:0,Solo run,Not Applicable,2002,10,7,3,2,0,0,34,Primer Tiempo
1,Liga Portugal,6,2002-10-07,Home,Sporting CP,Moreirense FC,3:0,LW,3:0,Header,Rui Jorge,2002,10,7,3,3,0,0,95,Segundo Tiempo Extra
2,Liga Portugal,8,2002-10-26,Away,Sporting CP,Boavista FC,1:2,Not Applicable,1:2,Right-footed shot,Carlos Martins,2002,10,26,2,2,1,1,88,Segundo Tiempo
3,Ta√ßa de Portugal,4th round,2002-11-24,Home,Sporting CP,CD Estarreja,4:1,Not Applicable,3:0,Left-footed shot,C√©sar Prates,2002,11,24,4,3,1,0,67,Segundo Tiempo
4,Ta√ßa de Portugal,5th round,2002-12-18,Home,Sporting CP,FC Oliveira do Hospital,8:1,Not Applicable,3:0,Not Applicable,Not Applicable,2002,12,18,8,3,1,0,13,Primer Tiempo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
694,Premier League,33,2022-04-16,Home,Manchester United,Norwich City,3:2,CF,3:2,Direct free kick,Not Applicable,2022,4,16,3,3,2,2,76,Segundo Tiempo
695,Premier League,34,2022-04-23,Away,Manchester United,Arsenal FC,3:1,CF,2:1,Left-footed shot,Nemanja Matiƒá,2022,4,23,1,1,3,2,34,Primer Tiempo
696,Premier League,37,2022-04-28,Home,Manchester United,Chelsea FC,1:1,CF,1:1,Right-footed shot,Nemanja Matiƒá,2022,4,28,1,1,1,1,62,Segundo Tiempo
697,Premier League,35,2022-05-02,Home,Manchester United,Brentford FC,3:0,CF,2:0,Penalty,Not Applicable,2022,5,2,3,2,0,0,61,Segundo Tiempo
698,Europa League,Group Stage,2022-09-15,Away,Manchester United,FC Sheriff Tiraspol,0:2,CF,0:2,Penalty,Not Applicable,2022,9,15,2,2,0,0,39,Primer Tiempo

###**üßπ Calcular el total de goles registrados hasta la fecha**

In [465]:
# Cada fila es un gol, por lo que en el per√≠odo analizado se registraron 699 goles.
Goles = cris.Torneo.count()
print(f"El Bicho meti√≥ {Goles} goles hasta la fecha.")

El Bicho meti√≥ 699 goles hasta la fecha.

###**üßπ Promedio de goles por Torneo**

In [466]:
# Ac√° podemos ver la cantidad de goles que meti√≥ en cada Torneo.
Torneos = cris.groupby("Torneo").count()
Torneos.Club

Torneo
Champions League       141
Club World Cup           7
Copa del Rey            22
EFL Cup                  4
Europa League            1
FA Cup                  13
Italy Cup                4
LaLiga                 311
Liga Portugal            3
Premier League         102
Serie A                 81
Supercopa Espania        4
Supercoppa Italiana      2
Ta√ßa de Portugal         2
UEFA Super Cup           2
Name: Club, dtype: int64

In [467]:
# Ac√° vemos la cantidad de partidos jugados en cada Torneo (en los cuales meti√≥ al menos un gol)
a = cris.groupby(['Torneo','Fecha']).count()
PartidosJugados = a.groupby(["Torneo"]).count()
PartidosJugados.Jornada

Torneo
Champions League        94
Club World Cup           5
Copa del Rey            16
EFL Cup                  4
Europa League            1
FA Cup                  12
Italy Cup                3
LaLiga                 183
Liga Portugal            2
Premier League          73
Serie A                 60
Supercopa Espania        4
Supercoppa Italiana      2
Ta√ßa de Portugal         2
UEFA Super Cup           1
Name: Jornada, dtype: int64

In [468]:
# Ac√° vamos a ver el promedio de goles que mete por partido en cada torneo (Siempre que meta al menos 1 gol)
GolesPorPartidoTorneo = round(Torneos.Club / PartidosJugados.Jornada,2)
GolesPorPartidoTorneo

Torneo
Champions League       1.50
Club World Cup         1.40
Copa del Rey           1.38
EFL Cup                1.00
Europa League          1.00
FA Cup                 1.08
Italy Cup              1.33
LaLiga                 1.70
Liga Portugal          1.50
Premier League         1.40
Serie A                1.35
Supercopa Espania      1.00
Supercoppa Italiana    1.00
Ta√ßa de Portugal       1.00
UEFA Super Cup         2.00
dtype: float64

In [469]:
# Ac√° veremos el promedio global de goles por partido (cuando mete goles)
PromedioGolesPorPartido = round(Goles / PartidosJugados.sum()[0],2)
PromedioGolesPorPartido

1.51

In [470]:
print(f"El Bicho cuando mete goles, en promedio mete {PromedioGolesPorPartido} goles por partido hasta la fecha.")

El Bicho cuando mete goles, en promedio mete 1.51 goles por partido hasta la fecha.

In [471]:
# Esta toda la historia hasta el 15 de Setiembre de 2022, por lo que a hoy 13/10/2022 voy a bajar el total de partidos jugados (restando el √∫ltimo)
cris.Fecha.sort_values()

0     2002-10-07
1     2002-10-07
2     2002-10-26
3     2002-11-24
4     2002-12-18
         ...
694   2022-04-16
695   2022-04-23
696   2022-04-28
697   2022-05-02
698   2022-09-15
Name: Fecha, Length: 699, dtype: datetime64[ns]

In [472]:
#Armo un DataFrame con los partidos efectivamente jugados por Cristiano

Resumen = [[GolesPorPartidoTorneo.index[0], 187],
           [GolesPorPartidoTorneo.index[1], 8],
           [GolesPorPartidoTorneo.index[2], 30],
           [GolesPorPartidoTorneo.index[3], 12],
           [GolesPorPartidoTorneo.index[4], 5],
           [GolesPorPartidoTorneo.index[5], 27],
           [GolesPorPartidoTorneo.index[6], 10],
           [GolesPorPartidoTorneo.index[7], 292],
           [GolesPorPartidoTorneo.index[8], 25],
           [GolesPorPartidoTorneo.index[9], 234],
           [GolesPorPartidoTorneo.index[10], 98],
           [GolesPorPartidoTorneo.index[11], 7],
           [GolesPorPartidoTorneo.index[12], 3],
           [GolesPorPartidoTorneo.index[13], 3],
           [GolesPorPartidoTorneo.index[14], 2],
           ]
PartidosJugados = pd.DataFrame(Resumen)

PartidosJugados

                      0    1
0      Champions League  187
1        Club World Cup    8
2          Copa del Rey   30
3               EFL Cup   12
4         Europa League    5
5                FA Cup   27
6             Italy Cup   10
7                LaLiga  292
8         Liga Portugal   25
9        Premier League  234
10              Serie A   98
11    Supercopa Espania    7
12  Supercoppa Italiana    3
13     Ta√ßa de Portugal    3
14       UEFA Super Cup    2

In [473]:
# Y Ahora si podemos ver a cantidad de goles por partido efectivamente jugado.
round(Torneos.Club / list(PartidosJugados[1]),2)

Torneo
Champions League       0.75
Club World Cup         0.88
Copa del Rey           0.73
EFL Cup                0.33
Europa League          0.20
FA Cup                 0.48
Italy Cup              0.40
LaLiga                 1.07
Liga Portugal          0.12
Premier League         0.44
Serie A                0.83
Supercopa Espania      0.57
Supercoppa Italiana    0.67
Ta√ßa de Portugal       0.67
UEFA Super Cup         1.00
Name: Club, dtype: float64

In [474]:
# Hacemos el promedio global.
PromedioGolesPorPartido = round(Goles / PartidosJugados[1].sum(),2)
PromedioGolesPorPartido

0.74

In [475]:
print(f"El Bicho en promedio meti√≥ {PromedioGolesPorPartido} goles por partido hasta la fecha.")

El Bicho en promedio meti√≥ 0.74 goles por partido hasta la fecha.

###**üßπ Porcentaje de goles realizados como visitante y local**

In [476]:
# Vemos cantidad de goles metidos en total como local y como visitante
GolesEvento = cris.groupby(['Evento']).count()
GolesEvento.Torneo

Evento
Away    297
Home    402
Name: Torneo, dtype: int64

In [477]:
# Podemos ver que meti√≥ 42% de los goles de Visitante y 58% de los goles de Local.
GolesEventoPorcentaje = round(GolesEvento / cris.shape[0] * 100)
GolesEventoPorcentaje.Torneo

Evento
Away    42.0
Home    58.0
Name: Torneo, dtype: float64

In [478]:
print(f"El Bicho meti√≥ el {GolesEventoPorcentaje.Torneo[1]} % de los goles de local y el {GolesEventoPorcentaje.Torneo[0]} % de los goles de visitante hasta la fecha.")

El Bicho meti√≥ el 58.0 % de los goles de local y el 42.0 % de los goles de visitante hasta la fecha.

In [479]:
#Vemos cantidad de partidos jugados de local y visitante
PartidosEvento = cris.groupby(['Evento','Fecha']).count()
PartidosEvento = PartidosEvento.groupby(["Evento"]).count()
PartidosEvento.Jornada

Evento
Away    209
Home    253
Name: Jornada, dtype: int64

In [480]:
# M√°s alla de la cantidad de goles, podemos ver que en promedio, mete 1,42 goles por partido de visitante y 1,59 goles por partido de local 
# (calculado sobre los partidos en los que mete goles)
round(GolesEvento.Torneo / PartidosEvento.Jornada,2)

Evento
Away    1.42
Home    1.59
dtype: float64

###**üßπ A que oponente le meti√≥ m√°s goles**

In [481]:
# Ac√° podemos ver que al equipo que m√°s goles le meti√≥ fue 27 goles al Sevilla FC
GolesOponente = cris.groupby(['Oponente']).count().Torneo.sort_values(ascending=False)
GolesOponente

Oponente
Sevilla FC                          27
Atl√©tico de Madrid                  25
Getafe CF                           23
FC Barcelona                        20
Celta de Vigo                       20
                                    ..
FC Sheriff Tiraspol                  1
Ferencv√°rosi TC                      1
Millwall FC                          1
Gamba Osaka                          1
Gr√™mio Foot-Ball Porto Alegrense     1
Name: Torneo, Length: 125, dtype: int64

In [482]:
print(f"El equipo al cual Cristiano Ronaldo le meti√≥ m√°s goles fue al {GolesOponente.index[0]} a quien le meti√≥ {GolesOponente[0]} goles.")

El equipo al cual Cristiano Ronaldo le meti√≥ m√°s goles fue al Sevilla FC a quien le meti√≥ 27 goles.

###**üßπ Contra que oponente jug√≥ m√°s fechas**

In [483]:
# Ac√° podemos ver que el club con el que jugo m√°s fechas fue el FC Barcelona con quien jugo 17 partidos donde meti√≥ goles.
OponentesFechas = cris.groupby(['Oponente','Fecha']).count()
OponentesFechas = OponentesFechas.groupby(["Oponente"]).count()
OponentesFechas = OponentesFechas.Jornada.sort_values(ascending=False)
OponentesFechas

Oponente
FC Barcelona                        17
Atl√©tico de Madrid                  15
Sevilla FC                          13
Villarreal CF                       12
Getafe CF                           12
                                    ..
SD Ponferradina                      1
Exeter City                          1
Empoli FC                            1
Moreirense FC                        1
Gr√™mio Foot-Ball Porto Alegrense     1
Name: Jornada, Length: 125, dtype: int64

In [484]:
print(f"El equipo contra el cual jug√≥ m√°s fechas donde meti√≥ goles fue {OponentesFechas.index[0]} contra qui√©n jug√≥ {OponentesFechas[0]} fechas.")

El equipo contra el cual jug√≥ m√°s fechas donde meti√≥ goles fue FC Barcelona contra qui√©n jug√≥ 17 fechas.

##**üßπ Caso de uso a gusto. Es libre!**

##**üßπ Comparando a Messi y Ronaldo**

Antes que nada, voy a bajar el data set y hacer algunas modificaciones para que el DataFrame de Messi se pueda utilizar y tengamos la info que necesitamos. Se podr√≠a levantar directamente el descargado limpio, pero voy a poner ac√° el original con las modificaciones as√≠ nos les da error cuando lo ejecuten

In [485]:
# Bajamos DataFrame y modificamos
messi= pd.read_csv("https://raw.githubusercontent.com/CPazL/clase-pandasPython/main/messiSucio.csv")

messi.rename(columns={'Tournament':'Torneo'}, inplace=True)
messi.rename(columns={'Matchday':'Jornada'}, inplace=True)
messi.rename(columns={'Date':'Fecha'}, inplace=True)
messi.rename(columns={'Venue':'Evento'}, inplace=True)
messi.rename(columns={'Opponent':'Oponente'}, inplace=True)
messi.rename(columns={'Result':'Resultado'}, inplace=True)
messi.rename(columns={'Position':'Posici√≥n'}, inplace=True)
messi.rename(columns={'Minute':'Minuto'}, inplace=True)
messi.rename(columns={'Opponent':'Oponente'}, inplace=True)
messi.rename(columns={'When Scored':'Momento de anotaci√≥n'}, inplace=True)
messi.rename(columns={'Goal Type':'Tipo_de_gol'}, inplace=True)
messi.rename(columns={'Assist':'Asistente'}, inplace=True)

messi['Torneo'] = messi['Torneo'].astype('string')
messi['Jornada'] = messi['Jornada'].astype('string')
messi['Fecha'] = pd.to_datetime(messi['Fecha'])
messi['Evento'] = messi['Evento'].astype('string')
messi['Club'] = messi['Club'].astype('string')
messi['Oponente'] = messi['Oponente'].astype('string')
messi['Resultado'] = messi['Resultado'].astype('string')
messi['Posici√≥n'] = messi['Posici√≥n'].astype('string')
messi['Tipo de gol'] = messi['Tipo_de_gol'].astype('string')
messi['Asistente'] = messi['Asistente'].astype('string')
messi['Pareja'] = messi['Pareja'].astype('string')
messi['Minuto'] = messi['Minuto'].astype('string')
messi['Momento de anotaci√≥n'] = messi['Momento de anotaci√≥n'].astype('string')

messi.dropna(axis=0, inplace= True, how='all')
messi.dropna(axis=0, inplace= True, thresh=int(messi.shape[1]*0.8))
messi.drop(['Pareja'], axis=1, inplace=True)
messi= messi.drop_duplicates()
messi['Anio'] = messi['Fecha'].dt.year

# Vamos a limpiar la columna Minuto y para eso vemos que tenemos que splitear por ' y + --> Una manera es eliminar las ' y luego splitear por +
messi.Minuto.unique()
# Eliminamos los ' y los ponemos en una nueva columna auxiliar
messi["MinutosPartidoCrudo"] = list(map(lambda x: x.replace("'",""), messi["Minuto"]))
# Corremos la funci√≥n a todos los registros
messi["MinutosPartido"] = list(map(lambda x: TotalMinutos(x), messi["MinutosPartidoCrudo"]))
# Corremos la funci√≥n a todos los registros
messi["Tiempo del gol"] = list(map(lambda x: Tiempo(x), messi["MinutosPartidoCrudo"]))
# Borramos columna auxiliar
messi.drop(["MinutosPartidoCrudo"], axis=1, inplace=True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:35: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:40: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:42: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:44: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [486]:
# As√≠ nos queda el DataFrame de Messi
messi

,Torneo,Jornada,Fecha,Evento,Club,Oponente,Resultado,Posici√≥n,Minuto,Momento de anotaci√≥n,Tipo_de_gol,Asistente,Tipo de gol,Anio,MinutosPartido,Tiempo del gol
0,LaLiga,34,2005-05-01,Home,FC Barcelona,Albacete Balompi√©,2:0,CF,90'+1,2:0,Left-footed shot,Ronaldinho Ga√∫cho,Left-footed shot,2005,91,Segundo Tiempo Extra
1,Champions League,Group Stage,2005-11-02,Home,FC Barcelona,Panathinaikos Athens,5:0,RW,34',3:0,Left-footed shot,Not Applicable,Left-footed shot,2005,34,Primer Tiempo
2,LaLiga,13,2005-11-27,Home,FC Barcelona,Racing Santander,4:1,RW,51',2:0,Left-footed shot,Samuel Eto'o,Left-footed shot,2005,51,Segundo Tiempo
3,LaLiga,19,2006-01-15,Home,FC Barcelona,Athletic Bilbao,2:1,RW,50',2:1,Left-footed shot,Mark van Bommel,Left-footed shot,2006,50,Segundo Tiempo
4,LaLiga,20,2006-01-22,Home,FC Barcelona,Deportivo Alav√©s,2:0,CF,82',2:0,Left-footed shot,Ronaldinho Ga√∫cho,Left-footed shot,2006,82,Segundo Tiempo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
685,Ligue 1,1,2022-08-06,Away,Paris Saint-Germain,Clermont Foot 63,0:5,CF,86',0:5,Left-footed shot,Leandro Paredes,Left-footed shot,2022,86,Segundo Tiempo
686,Ligue 1,3,2022-08-21,Away,Paris Saint-Germain,LOSC Lille,1:7,AM,27',0:2,Right-footed shot,Nuno Mendes,Right-footed shot,2022,27,Primer Tiempo
687,Champions League,Group Stage,2022-09-14,Away,Paris Saint-Germain,Maccabi Haifa,1:3,SS,37',1:1,Left-footed shot,Not Applicable,Left-footed shot,2022,37,Primer Tiempo
688,Ligue 1,8,2022-09-18,Away,Paris Saint-Germain,Olympique Lyon,0:1,AM,5',0:1,Left-footed shot,Neymar,Left-footed shot,2022,5,Primer Tiempo
689,Ligue 1,9,2022-10-01,Home,Paris Saint-Germain,OGC Nice,2:1,AM,28',1:0,Direct free kick,Not Applicable,Direct free kick,2022,28,Primer Tiempo

###**üßπ 1) Comparacion de goles metidos por Messi y Cristiano a√±o tras a√±o**

In [487]:
# Armo un DataFrame con A√±o y Goles de Cristiano Ronaldo
TorneosCris = cris.groupby("Anio").count()
TorneosCris = pd.DataFrame(TorneosCris.Club).reset_index()
TorneosCris.columns
TorneosCris = TorneosCris.rename(columns = {"Club":"Goles"})
TorneosCris

    Anio  Goles
0   2002      5
1   2003      1
2   2004      6
3   2005     13
4   2006     19
5   2007     29
6   2008     34
7   2009     29
8   2010     45
9   2011     53
10  2012     58
11  2013     59
12  2014     56
13  2015     54
14  2016     42
15  2017     42
16  2018     43
17  2019     25
18  2020     41
19  2021     34
20  2022     11

In [488]:
# Armo un DataFrame con A√±o y Goles de Messi
TorneosMessi = messi.groupby("Anio").count()
TorneosMessi = pd.DataFrame(TorneosMessi.Club).reset_index()
TorneosMessi.columns
TorneosMessi = TorneosMessi.rename(columns = {"Club":"Goles"})
TorneosMessi

    Anio  Goles
0   2005      3
1   2006     10
2   2007     25
3   2008     20
4   2009     38
5   2010     58
6   2011     55
7   2012     79
8   2013     39
9   2014     50
10  2015     48
11  2016     51
12  2017     50
13  2018     47
14  2019     45
15  2020     26
16  2021     34
17  2022     12

In [489]:
# Hago un Merge para dejar solo un DataFrame con toda la info lista para usar en un gr√°fico

GolesPorAnio = merged_left = pd.merge(left = TorneosCris, right = TorneosMessi, how="left", left_on="Anio", right_on="Anio").fillna(0)
GolesPorAnio.rename(columns={'Goles_x':'GolesCris'}, inplace=True)
GolesPorAnio.rename(columns={'Goles_y':'GolesMessi'}, inplace=True)
GolesPorAnio['GolesMessi'] = GolesPorAnio['GolesMessi'].astype('int')
GolesPorAnio.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21 entries, 0 to 20
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Anio        21 non-null     int64
 1   GolesCris   21 non-null     int64
 2   GolesMessi  21 non-null     int64
dtypes: int64(3)
memory usage: 672.0 bytes

In [490]:
# Agregamos un % de la cantidad de goles de MEssi por sobre Ronaldo y vemos que de los 18 a√±os que jugaron ambos, 8 veces meti√≥ m√°s goles Cristiano, 9 Messi y 1 empataron
GolesPorAnio["% Messi / Ronaldo"] = round(GolesPorAnio.GolesMessi / GolesPorAnio.GolesCris *100,0)
GolesPorAnio

    Anio  GolesCris  GolesMessi  % Messi / Ronaldo
0   2002          5           0                0.0
1   2003          1           0                0.0
2   2004          6           0                0.0
3   2005         13           3               23.0
4   2006         19          10               53.0
5   2007         29          25               86.0
6   2008         34          20               59.0
7   2009         29          38              131.0
8   2010         45          58              129.0
9   2011         53          55              104.0
10  2012         58          79              136.0
11  2013         59          39               66.0
12  2014         56          50               89.0
13  2015         54          48               89.0
14  2016         42          51              121.0
15  2017         42          50              119.0
16  2018         43          47              109.0
17  2019         25          45              180.0
18  2020         41          26               63.0
19  2021         34          34              100.0
20  2022         11          12              109.0

In [491]:
# Se puede observar que ambos tuvieron un pico en el a√±o 2012 y desde ahi fueron descendiendo, estando actualmente alineados.
# Tambi√©n se observa que Cristiamos es mucho m√°s estable que Messi quien tuvo m√°s picos y valles.

fig = px.line(GolesPorAnio, 
              x=GolesPorAnio.Anio, 
              y=[GolesPorAnio.GolesCris,GolesPorAnio.GolesMessi], 
              title='Comparaci√≥n de goles metidos por a√±o', 
              labels = {"Anio":"A√±o"})
fig.show()

###**üßπ 2) Vamos a comparar en que momento del partido suelen hacer los goles cada uno**

In [492]:
# Armo un DataFrame de Cristiano Ronaldo con la cantidad de goles que meti√≥ en cada minuto de los partidos
TorneosCris = cris.groupby("MinutosPartido").count()
TorneosCris = pd.DataFrame(TorneosCris.Club).reset_index()
TorneosCris.columns
TorneosCris = TorneosCris.rename(columns = {"Club":"Goles"})
TorneosCris

     MinutosPartido  Goles
0                 1      1
1                 2      6
2                 3      8
3                 4      4
4                 5      3
..              ...    ...
97              103      1
98              104      1
99              105      1
100             109      1
101             120      1

[102 rows x 2 columns]

In [493]:
# Armo un DataFrame de Messi con la cantidad de goles que meti√≥ en cada minuto de los partidos
TorneosMessi = messi.groupby("MinutosPartido").count()
TorneosMessi = pd.DataFrame(TorneosMessi.Club).reset_index()
TorneosMessi.columns
TorneosMessi = TorneosMessi.rename(columns = {"Club":"Goles"})
TorneosMessi

    MinutosPartido  Goles
0                3      4
1                4      4
2                5      8
3                6      2
4                7      3
..             ...    ...
88              91     10
89              92     10
90              93      3
91              94      3
92             110      1

[93 rows x 2 columns]

In [494]:
# Hago un Merge para dejar solo un DataFrame con toda la info lista para usar el un gr√°fico

GolesPorMinuto = merged_full = pd.merge(left = TorneosCris, right = TorneosMessi, how='outer', left_on="MinutosPartido", right_on="MinutosPartido").fillna(0)
GolesPorMinuto.rename(columns={'Goles_x':'GolesCris'}, inplace=True)
GolesPorMinuto.rename(columns={'Goles_y':'GolesMessi'}, inplace=True)
GolesPorMinuto['GolesMessi'] = GolesPorMinuto['GolesMessi'].astype('int')
GolesPorMinuto['GolesCris'] = GolesPorMinuto['GolesCris'].astype('int')
GolesPorMinuto.sort_values("MinutosPartido",ascending=True,inplace=True)
GolesPorMinuto.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 103 entries, 0 to 101
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   MinutosPartido  103 non-null    int64
 1   GolesCris       103 non-null    int64
 2   GolesMessi      103 non-null    int64
dtypes: int64(3)
memory usage: 3.2 KB

In [495]:
# Vemos como queda el DF
GolesPorMinuto

     MinutosPartido  GolesCris  GolesMessi
0                 1          1           0
1                 2          6           0
2                 3          8           4
3                 4          4           4
4                 5          3           8
..              ...        ...         ...
98              104          1           0
99              105          1           0
100             109          1           0
102             110          0           1
101             120          1           0

[103 rows x 3 columns]

In [496]:
# Vamos a armar un histograma para ver en que momentos meten mas goles cada uno de los dos jugadores. Armamos funcion para dividir la x del histograma en grupos de 10 minutos:

def Corte (x):
  if x <= 10:
    return "0 a 10"
  elif x > 10 and x <= 20:
    return "11 a 20"
  elif x > 20 and x <= 30:
    return "21 a 30"
  elif x > 30 and x <= 40:
    return "31 a 40"
  elif x > 40 and x <= 50:
    return "41 a 50"
  elif x > 50 and x <= 60:
    return "51 a 60"
  elif x > 60 and x <= 70:
    return "61 a 70"
  elif x > 70 and x <= 80:
    return "71 a 80"
  elif x > 80 and x <= 90:
    return "81 a 90"
  elif x > 90 and x <= 100:
    return "91 a 100"
  elif x > 100 and x <= 110:
    return "101 a 110"
  elif x > 110 and x <= 120:
    return "111 a 120"
  else:
    return "ERROR"

In [497]:
# Aplicamos la Funci√≥n a todo el DataFrame
GolesPorMinuto["CorteMinutos"] = list(map(lambda x: Corte(x), GolesPorMinuto["MinutosPartido"]))

In [498]:
# Vemos como queda
GolesPorMinuto

     MinutosPartido  GolesCris  GolesMessi CorteMinutos
0                 1          1           0       0 a 10
1                 2          6           0       0 a 10
2                 3          8           4       0 a 10
3                 4          4           4       0 a 10
4                 5          3           8       0 a 10
..              ...        ...         ...          ...
98              104          1           0    101 a 110
99              105          1           0    101 a 110
100             109          1           0    101 a 110
102             110          0           1    101 a 110
101             120          1           0    111 a 120

[103 rows x 4 columns]

In [499]:
# Se puede ver que Messi tiene mucha m√°s estabilidad en cuanto a los momentos en los que mete goles, 
# pero por otro lado Cristiano tiene muchos m√°s goles en los primeros 10 minutos por lo que arranca muy agresivo.

MESSI = px.histogram(GolesPorMinuto,
             template = "gridon",
             x = "CorteMinutos",
             y = "GolesMessi",
             width=850, 
             height=500,
             labels = {"CorteMinutos":"Minuto Partido"},
             title = "Distribuci√≥n de goles MESSI",
             text_auto = True)
MESSI.show()

CRISTIANO = px.histogram(GolesPorMinuto,
             template = "gridon",
             x = "CorteMinutos",
             y = "GolesCris",
             width=850, 
             height=500,
             labels = {"CorteMinutos":"Minuto Partido"},
             title = "Distribuci√≥n de goles CRISTIANO",
             text_auto = True)

CRISTIANO.show()

###**üßπ 3) Comparaci√≥n de los tipos de goles que mete cada jugador**

In [500]:
# Hacemos DataFrame con los tipos de goles de Cristiano
TiposGolesCris = cris.groupby("Tipo_de_gol").count()
TiposGolesCris = pd.DataFrame(TiposGolesCris.Club).reset_index()
TiposGolesCris.columns
TiposGolesCris = TiposGolesCris.rename(columns = {"Club":"Goles"})
TiposGolesCris

               Tipo_de_gol  Goles
0      Counter attack goal      4
1   Deflected shot on goal      2
2         Direct free kick     48
3                   Header    112
4         Left-footed shot    110
5       Long distance kick      9
6           Not Applicable     15
7                  Penalty    129
8          Penalty rebound      3
9        Right-footed shot    251
10                Solo run      2
11                  Tap-in     14

In [501]:
# Hacemos DataFrame con los tipos de goles de Messi
TiposGolesMessi = messi.groupby("Tipo_de_gol").count()
TiposGolesMessi = pd.DataFrame(TiposGolesMessi.Club).reset_index()
TiposGolesMessi.columns
TiposGolesMessi = TiposGolesMessi.rename(columns = {"Club":"Goles"})
TiposGolesMessi

               Tipo_de_gol  Goles
0                    Chest      1
1      Counter attack goal      1
2   Deflected shot on goal      2
3         Direct free kick     51
4                   Header     24
5         Left-footed shot    425
6       Long distance kick      1
7           Not Applicable      1
8                  Penalty     84
9          Penalty rebound      3
10       Right-footed shot     83
11                Solo run      4
12                  Tap-in     10

In [502]:
# Hago un Merge para dejar solo un DataFrame con toda la info lista para usar el un gr√°fico.

# De esta tabla se pueden sacar varias conclusiones:
# 1) Cristiano mete muchos m√°s goles de cabeza, de larga distancia y de penal que Messi
# 2) Cristiano es derecho pero le pega con ambas piernas ya que meti√≥ 251 goles con derecha y 110 con zurda.
# 3) Messi la enorme mayor√≠a de las veces mete los goles de zurda (425 Vs 83 con la derecha) 

GolesPorTipo = merged_full = pd.merge(left = TiposGolesCris, right = TiposGolesMessi, how='outer', left_on="Tipo_de_gol", right_on="Tipo_de_gol").fillna(0)
GolesPorTipo.rename(columns={'Goles_x':'GolesCris'}, inplace=True)
GolesPorTipo.rename(columns={'Goles_y':'GolesMessi'}, inplace=True)
GolesPorTipo['GolesMessi'] = GolesPorTipo['GolesMessi'].astype('int')
GolesPorTipo['GolesCris'] = GolesPorTipo['GolesCris'].astype('int')
GolesPorTipo

               Tipo_de_gol  GolesCris  GolesMessi
0      Counter attack goal          4           1
1   Deflected shot on goal          2           2
2         Direct free kick         48          51
3                   Header        112          24
4         Left-footed shot        110         425
5       Long distance kick          9           1
6           Not Applicable         15           1
7                  Penalty        129          84
8          Penalty rebound          3           3
9        Right-footed shot        251          83
10                Solo run          2           4
11                  Tap-in         14          10
12                   Chest          0           1

##**üßπ Exportando DataSet limpio**

In [503]:
cris.to_csv('CristianoLimpio.csv')

from google.colab import files
files.download('CristianoLimpio.csv')